<div class="container">
  <form [formGroup]="formData" action="" (ngSubmit)=onSubmit()>
    <h1>Search for volunteers</h1>
    <hr>
    <div class="content">
      <div class="form-group profession">
        <label for="profession">Profession</label>
        <input type="text" id="profession" class="form-control" formControlName="profession" placeholder="profession">
      </div>
      <div class="form-group interest">
        <label for="interest">Interest</label>
        <input type="text" id="interest" class="form-control" formControlName="interest" placeholder="interest">
      </div>
      <div class="form-group isLooking">
        <label for="isLooking">I want to search for inactive users too</label>
        <input type="checkbox" id="isLooking" class="form-control checkbox" formControlName="isLooking" placeholder="isLooking">
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="button cancel" (click)="onCancel()">Cancel</button>
      <button type="submit" class="button">Search</button>
    </div>
  </form>
  <div class="result">
    <div class="user"></div>
  </div>
</div>