.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: #2b59af;
  color: #f3ecee;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans Condensed", sans-serif;
  .logo {
    width: 25%;
    .logo-img-pc {
      width: 60%;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo-img-mobile{
    display: none;
  }
  .row-container {
    width: 75%;
    display: flex;
  }
  .menu-container {
    width: 75%;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    justify-content: space-between;
    a {
      text-decoration: none;
      letter-spacing: 1px;
      color: rgb(177, 177, 177);
      text-align: center;
      font-size: 16px;
      padding: 10px 0;
      transition: 0.7s linear;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      &:hover {
        color: #f3ecee;
        cursor: pointer;
      }
      i {
        font-size: 20px;
      }
      &.selected {
        border-top: 1px solid #f3ecee;
        border-right: 1px solid #f3ecee;
        border-left: 1px solid #f3ecee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgb(243, 236, 238);
        color: #2b59af;
      }
    }
  }
  .user-container {
    width: 15%;
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
    .profile-photo {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      margin: 0 15px;
    }
    .user-name {
      margin-right: 10px;
      letter-spacing: 2px;
      font-size: 15px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

@media (max-width: 950px) {
 
  .logo{
display: flex;
align-items: center;
  }
}
