<div class="container">
  <h1>Create your own event</h1>
  <hr>
  <form [formGroup]="eventData" action="" (ngSubmit)="onSubmit()">
    <div class="content">
      <div class="leftSide">
        <div class="form-group title">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" formControlName="title" placeholder="Enter title">
        </div>
        <div class="picture">
          <label for="picture">Upload event picture:</label>
          <button class="upload" type="button" (click)=upload.click()>Upload</button>
          <input #upload type="file" id="picture" class="form-control" (change)="onFileAdded($event)"
            formControlName="picture" style="display: none;">
          <img [src]="picturePath || '../../../../assets/profile.png'" alt="image">
        </div>
        <div class="form-group address">
          <label for="address">Address</label>
          <input type="text" id="address" class="form-control" formControlName="address" placeholder="Address">
        </div>
        <div class="form-group date">
          <label for="start">Start:</label>
          <input type="date" id="start" class="form-control" formControlName="start">
          <label class="finish" for="finish">Finish:</label>
          <input type="date" id="finish" class="form-control finish" formControlName="finish">
        </div>
      </div>
      <div class="rightSide">
        <div class="form-group description">
          <label for="description">Event Description</label>
          <textarea name="description" id="description" cols="10" rows="21"></textarea>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="upload" type="button" (click)=onCancel()>Cancel</button>
      <button class="upload" type="submit">Create</button>
    </div>
  </form>
</div>