<div class="container">
  <div class="reg-form">
    <div class="sideDetails">
      <img class="people" src="../../../assets/people_reg.jpg" alt="people_laugh">
    </div>
    <div class="login">
      <img src="../../../assets/Wowlunteer6.png" alt="">
      <h2 class="title">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)=onSubmit()>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email">
          <span [ngClass]="{show: !loginForm.get('email').valid && loginForm.get('email').touched}" class="error">
            Invalid email!
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
            placeholder="Enter Password">
          <span [ngClass]="{show: !loginForm.get('password').valid && loginForm.get('password').touched}" class="error">
            Invalid password!
          </span>
        </div>
        <div class="regType">
          <button class="button reg" type="button" routerLink="/register/company">Register as Company</button>
          <button class="button reg volunteer" type="button" routerLink="/register/volunteer">Register as
            Volunteer</button>
        </div>
        <button class="button" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>