<div class="event-container">
  <div class="left-side">
    <!-- <img src="{{event.img}}"> -->
  </div>
  <div class="right-side">
    <h1 class="title">{{ event.title }}</h1>
    <p>{{event.address}}</p>
    <p>{{event.start}}</p>
    <p>{{event.finish}}</p>
    <p class="content">{{ event.description }}</p>
    <div class="checkbox">
      <input type="checkbox" (change)="changeEvent($event)">I accept the terms and conditions.
    </div>
    <input class="apply" type="submit" value="apply" [disabled]="!valid" (click)="apply()">
  </div>

</div>