.event-container {
  width: 80%;
  margin: 10px auto;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
    0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  .left-side {
    width: 20%;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    .title {
      font-family: "Open Sans Condensed", sans-serif;
      letter-spacing: 1px;
      border-bottom: 1px solid black;
      color: #2b59af;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    .content {
      font-family: "Quicksand", sans-serif;
      text-align: justify;
      color: black;
    }
    .checkbox {
      display: flex;
      justify-items: flex-start;
      align-items: flex-start;
      margin-top: 20px;
      font-family: "Quicksand", sans-serif;
      input {
        width: 5%;
      }
    }
    .apply {
      width: 100px;
      margin: 10px 0;
      padding: 5px;
      border-radius: 5px;
      font-size: 18px;
      &:focus {
        outline: none;
      }
    }
  }
}
