<div class="container">
  <div class="reg-form">
    <div class="sideDetails">
      <img class="people" src="../../../assets/people_full.jpg" alt="people_laugh">
    </div>
    <div class="register">
      <img src="../../../assets/Wowlunteer6.png" alt="">
      <h2 class="title">Register</h2>
      <form [formGroup]="signupForm" (ngSubmit)=onSubmit()>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email">
          <span [ngClass]="{show: !signupForm.get('email').valid && signupForm.get('email').touched}" class="error">
            Invalid email!
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
            placeholder="Enter Password">
          <span [ngClass]="{show: !signupForm.get('password').valid && signupForm.get('password').touched}"
            class="error">
            Invalid password!
          </span>
        </div>
        <div class="form-group">
          <label for="type">Confirm Password</label>
          <input type="password" class="form-control" 
            placeholder="Enter your password again">
        </div>
        <footer>
          <button class="button" type="button" routerLink="/login">Back to Login</button>
          <button class="button reg" type="submit" [disabled]="!signupForm.valid">Register</button>
        </footer>
      </form>
    </div>
  </div>
</div>